[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/lukaprsina/glfw
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/lukaprsina/glfw
